.container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  min-height: 50rem;
  background: var(--color-grey-light-2);
  margin: 8rem auto;
  box-shadow: var(--box-shadow-dark);
}
.content {
  display: flex;
}
