.container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  background: $color-grey-light-2;
  margin: 8rem auto;
  box-shadow: $box-shadow-container;

  @include respond(tab-land) {
    margin: 0;
    max-width: 100%;
  }
}

.content {
  flex: 1;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }
}
