.header {
  font-size: 1.4rem;
  background: $color-white;
  height: 7rem;
  border-bottom: $border-comp;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 3.25rem;
    margin-left: 2rem;
  }

  @include respond(phone-small) {
    flex-wrap: wrap;
    height: auto;
  }
}
