$font-stack: "Open Sans", sans-serif;

$quote-symbol-font-size: 20rem;

$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-body-text: #444;

$color-white: #fff;
$color-black: #000;

$border-person-photo: 3px solid $color-white;

$border-comp: 1px solid $color-grey-light-2;

$box-shadow-container: 0 2rem 6rem rgba($color-black, 0.3);
$box-shadow-btn: 0 2rem 3rem rgba($color-black, 0.2);
$box-shadow-comp: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$box-shadow-btn-sec: 0 1rem 3rem rgba($color-black, 0.2);
